<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Error 404 - MovieWeb App</title>
    </head>
    <body>
        <nav>
            MovieWeb |
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('list_users') }}">Users</a> |
            <a href="{{ url_for('add_user') }}">Add New User</a>
        </nav>
        <h1>&#128128; Error 404</h1>
        <div class="container">
            <main>
                <p class="center">
                    Oops! Looks like you tried to access a page on the MovieWeb App that doesn't exist. &#128556;
                </p>
                <p class="center">
                    Click <a href="{{ url_for('home') }}">here</a> to go back to the home page.
                </p>
            </main>
        </div>
    </body>
</html>