<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Users - MovieWeb App</title>
    </head>
    <body>
        <nav class="center">
            MovieWeb |
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('list_users') }}">Users</a> |
            <a href="{{ url_for('add_user') }}">Add New User</a>
        </nav>
        <main>
            <div class="container">
                <h1 class="center">Users</h1>
                <p>
                    Here's a list of users who currently use this app. Click on their name to view their movies.
                </p>
                <ul class="user-list">
                    {% for user_id, name in users.items() %}
                    <li class="center"><a href="/users/{{ user_id }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    </body>
</html>